body{
    background-image: url("img/tlo.png.png");
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}
/*nieodwidzony link w spisie*/
a:link{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;
    text-decoration: none;
}
/*link właśnie aktywny*/
a:active{
    color: black;
    text-decoration: none;
}
/*najechanie myszką*/
a:hover{
    color: #485b3b;
    text-decoration: underline;
}


#logo{
    width: 100%;
    height: 122px;
    background-color: #485b3b;
    font-size: 36px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0px 5px 0px;
    letter-spacing: 3px;
    border-bottom: 2px solid #33402a;
    text-shadow:
    2px 2px 0 #33402a,
    -2px 2px 0 #33402a, /* oblanie liter w nagłówku cieciem wazne sa minisy bo to tak jak na cwiartkach*/
    -2px -2px 0 #33402a,
    2px -2px 0 #33402a;
}

#container{
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 878px;
    padding: 10px;
    border-left: 1px solid #ccc; /*dodanie cienkiej ramki wkoło sekcji na zawarość strony*/
    border-right: 1px solid #ccc;
}
#spis{
    width:780px;
    padding-left: 100px;
}
/*Stylizowanie listy spisu treści  zaczynając od ol*/

ol{
    margin-top: 5px;
}
/* jak dostac sie do elementow tylko ol.
 Trzeba uwzglednic hierarchie wykorzystując kaskadowość CSS
 ZAPIS: ol i na tej liście stylizujemy element Li  parent>child
 Chodzi tylko o itemi li snajdujace sie na liscie OL*/
ol > li{
font-size: 22px;
    text-transform: uppercase;
    font-weight: bold ;
    padding: 5px;
    letter-spacing: 3px; /*rozstrzela litery*/
}
/*ale niestety smienił wszystko przez dziedziczenie Kaskadowo
Dlatego terzeba jeszcze przesłonić styl listy ul jak poniżej */

ol > li > ul{
    font-size: 18px;
    text-transform: none ;
    font-weight:400;
    padding: 0px;
    letter-spacing: 0px;
    margin-top: 10px;
    margin-left: 30px;
    list-style-type: none ;
}
/*to już profilaktyczen */
ol > li > ul >li{
    margin: 0px;

}
ol > li > ul > li:before { /* co znajdzie sie na liscie zanim pojawi sie tekst można podmienić symbol wypunktowania*/
    color: #485b3b;
    content: "♗";
    margin-right: 5px;

}
.slajd{
    padding: 20px 40px;
    text-align: justify;

}
h1{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}
/*Podlinkwywanie spisu Tworzenie hiperłączy
to w spisie bedzie href="#nazwa"
a w odpowiednim znaczniku id="nazwa"*/

/* przycisk scrollup do wracania na górę strony*/
.scrollup{
    width: 64px;
    height: 64px;
    text-decoration: none;
    background: url("img/up.png") no-repeat 0px 0px ;
    /*jak zrobić żeby umiejscowic przycisk aby znajdował sie zawsze na dolr ekrany*/
    position:fixed;
    right: 50px;
    bottom: 50px;
    /*ukryj przycisk gdy jestes na początku strony*/
    display: none;
}